* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.app {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	margin: 50px;
}
.card {
	padding: 20px;
	border: grey 1px solid;
	border-radius: 10px;
}
.card img {
	border-radius: 5px;
	object-fit: cover;
}
